<div [class]="{
    'alert-valide': actualNature === 'valide',
    'alert-warning': actualNature === 'warning',
    'alert-info': actualNature === 'info'
  }">
  <button type="button" (click)="onButtonClick()">Change de couleur</button>
  {{ actualNature }}
  <ng-content></ng-content>
</div>
